{% extends "AppUniversidad/padre.html" %}
{% load static %}

{% block titulo %}

{% if not respuesta %}
<h1> Resultados </h1>
<h2> para el apellido "{{Apellido}}" </h2>

{% endif %}

{% endblock %}

{% block contenidoquecambia %}

{% if datos %}

<ul>
    {% for dato in datos %}
        <li> {{dato.Apellido}}, {{dato.DNI}} </li>
    <br>
    {% endfor %}

</ul>
{% elif not respuesta %}
<p> No se encontraron resultados </p>

{% endif %}

<p style="color:darkred"> {{respuesta}} </p>

{% if respuesta %}
<a class="btn btn-primary" href="{% url 'busquedaApellidos' %}">Volver</a>
{% endif %}


{% endblock %}